[user]
    name = Michael Sartain
    email = mikesart@fastmail.com

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = true

[color "branch"]
    remote = green bold
    upstream = green bold

[push]
    default = simple

[difftool]
    prompt = false

[difftool "vimdiff"]
    cmd = /usr/bin/vimdiff \"$LOCAL\" \"$REMOTE\"

[difftool "meld"]
    cmd = /usr/bin/meld \"$LOCAL\" \"$REMOTE\"

[alias]
    ls = log --all --pretty=format:'%C(yellow)%h %ad%C(green)%d %Creset%s%C(bold blue) [%an]%Creset' --decorate --graph --date=short
    ls-stat = log --all --pretty=format:'%C(yellow)%h %ad%C(green)%d %Creset%s%C(yellow) [%an]%Creset' --decorate --graph --date=short --stat
    ls-names = log --all --pretty=format:'%C(yellow)%h %ad%C(green)%d %Creset%s%C(yellow) [%an]%Creset' --decorate --graph --name-status --date=short
    filelog = log -u
    grep = grep -Ii
    cleanprojectfiles = clean -f -d --dry-run
    cleanprojectfilesxxx = clean -f -d
    cleanignoredfiles = clean -X -f -d --dry-run
    cleanignoredfilesxxx = clean -X -f -d

    ## http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
    # Assume a file as unchanged
    assume = update-index --assume-unchanged
    # Unassume a file:
    unassume = update-index --no-assume-unchanged
    # Show assumed files:
    assumed = "!git ls-files -v | grep ^h | cut -c 3-"
    # Unassume all the assumed files:
    unassumeall = "!git assumed | xargs git update-index --no-assume-unchanged"
    # Assume all:
    assumeall = "!git st -s | awk {'print $2'} | xargs git assume"

    # Use "git up" instead of "git pull"...
    # http://stackoverflow.com/questions/15316601/in-what-cases-could-git-pull-be-harmful    
    up = "!git remote update -p; git merge --ff-only @{u}"

[diff]
    guidtool = meld
    tool = vimdiff

# ~/.git-credentials
[credential]
    helper = store

